body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body::-webkit-scrollbar-button {
  display: none;
}

.chakra-modal__body::-webkit-scrollbar {
  width: 4px;
}

.chakra-modal__body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chakra-modal__body::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}

.chakra-modal__body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chakra-modal__body::-webkit-scrollbar-button {
  display: none;
}